$primary-white: #d9dae6;
$secondary-white: rgb(189, 181, 202);
$primary-purple: #603aa1;

$RborderShadowOne: rgb(139 130 147 / 8%) -1.5px 0px 0px 0px inset,
  rgb(1 1 1 / 82%) -0.5px 0px 0px 0px inset, #000000 -0.25px 0px 0px 0px inset;

$UborderShadowOne: rgb(139 130 147 / 8%) 0px -1.5px 0px 0px inset,
  rgb(1 1 1 / 82%) 0px -0.5px 0px 0px inset, #000000 0px -0.25px 0px 0px inset;
